.about {
  height: 100vh;
}
.imageContainer {
  float: right;
  margin-top: -10vh;
  margin-right: 5vw;
  margin-left: 1px;
  width: 15vw;
  height: 15vw;
  border-radius: 50%;
  overflow: hidden;
}

.h1 {
  color: var(--yellow);
  margin-left: 5vw;
  font-size: 5vh;
  padding-top: 10vh;
}

.text {
  margin-left: 6vw;
}
