.portfolio {
  position: relative;
  height: 90vh;
}

.projectsSection {
  width: 95vw;
  height: 70vh;
  margin-left: 5vw;
  margin-right: 5vw;
  overflow: hidden;
}

.projectText {
  margin-left: 1rem;
  margin-right: 1rem;
  text-align: justify;
  height: fit-content;
}

.title {
  display: flex;
  align-items: center;
}

.projectDescription {
  overflow-y: hidden;
  margin-left: 1rem;
  margin-right: 1rem;
  height: auto;
}

.projectCard {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 60vh;
}

.link {
  display: flex;
  align-items: flex-end;
  margin-left: 1rem;
}

.link:hover {
  transform: scale(1.1);
}

.h1 {
  grid-area: 'About';
  color: var(--yellow);
  margin-left: 5vw;
  font-size: 5vw;
  padding-top: 10vh;
}

.text {
  margin-top: 1rem;
  margin-left: 5vw;
  margin-right: 5vw;
  font-size: 16px;
  white-space: pre-wrap;
  text-align: justify;
  text-justify: inter-word;
}

.modalButton {
  display: none !important;
}

@media (max-width: 850px) {
  .text {
    text-align: center;
  }
  .h1 {
    font-size: 32px;
  }
  .h2 {
    font-size: 32px;
  }
  .projectCard {
    height: 70vh;
  }
  .projectDescription {
    overflow-y: hidden;
    height: 20vh;
  }
  .modalButton {
    display: block !important;
    margin-right: 1rem;
  }
  .projectText {
    text-align: center;
  }
}
