.portfolio {
  position: relative;
  height: 90vh;
}

.h1 {
  color: var(--yellow);
  margin-left: 5vw;
  font-size: 5vw;
  padding-top: 10vh;
}

.text {
  margin-top: 1rem;
  margin-left: 5vw;
  font-size: 16px;
  white-space: pre-wrap;
  text-align: justify;
  text-justify: inter-word;
}

@media (max-width: 912px) {
  .text {
    text-align: center;
  }
  .h1 {
    font-size: 32px;
  }
  .h2 {
    font-size: 32px;
  }
}
