.portfolio {
  position: relative;
  height: 90vh;
}

.projectsSection {
  width: 95vw;
  height: 70vh;
  margin-left: 5vw;
  margin-right: 5vw;
  overflow: hidden;
}

.projectText {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
  text-align: justify;
  height: 40%;
}

.title {
  height: 4rem;
  display: flex;
  align-items: center;
}

.projectDescription {
  text-overflow: ellipsis;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  flex: 0.9;
}

.projectCard {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  height: 60vh;
}

.link {
  display: flex;
  align-items: flex-end;
  margin-left: 1rem;
}

.link:hover {
  transform: scale(1.1);
}

.projectUrl:hover {
  transform: scale(1.05);
}

.h1 {
  grid-area: 'About';
  color: var(--yellow);
  margin-left: 5vw;
  font-size: 5vw;
  padding-top: 10vh;
}

.text {
  margin-top: 1rem;
  margin-left: 5vw;
  margin-right: 5vw;
  font-size: 16px;
  white-space: pre-wrap;
  text-align: justify;
  text-justify: inter-word;
}

.modalButton {
  display: none !important;
}

.imageContainer {
  height: 60%;
}

@media (max-width: 900px) {
  .text {
    text-align: center;
  }
  .h1 {
    font-size: 32px;
  }
  .h2 {
    font-size: 32px;
  }
  .projectCard {
    /* height: 70vh; */
    margin: 1vh;
  }
  .projectDescription {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    padding-bottom: 2rem;
  }
  .modalButton {
    flex: 1;
    display: block !important;
    margin-right: 1rem;
  }
  .imageContainer {
    height: 50%;
  }
  .projectText {
    height: 50%;
    text-align: center;
  }
}
