.about {
  position: relative;
  height: 90vh;
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1.6fr 0.4fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    'About AboutImage'
    'Experience ExperienceImage';
}

.textArea {
  margin-top: 1rem;
  grid-area: About;
}

.experience {
  grid-area: Experience;
}

.imageContainer {
  grid-area: AboutImage;
  margin-top: 5rem;
  margin-right: 3vw;
  margin-left: 1px;
  width: 15vw;
  height: 15vw;
  border-radius: 50%;
  overflow: hidden;
}

.h3 {
  color: var(--yellow);
  margin-left: 5vw;
  font-size: 5vw;
  padding-top: 5vh;
}

.h4 {
  color: var(--yellow);
  margin-left: 5vw;
  font-size: 5vw;
}

.text {
  margin-top: 1rem;
  margin-left: 5vw;
  margin-right: 0;
  font-size: 16px;
  white-space: pre-wrap;
  text-align: justify;
  text-justify: inter-word;
}

.ul {
  margin-left: 5vw;
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

@media (max-width: 912px) {
  .text {
    text-align: center;
  }
  .about {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.5fr 1fr 0.5fr;
    gap: 0px 0px;
    grid-template-areas:
      'About'
      'AboutImage'
      'Experience'
      'ExperienceImage';
  }
  .imageContainer {
    margin: auto;
    height: 25vw;
    width: 25vw;
    overflow: hidden;
  }
  .h1 {
    font-size: 32px;
  }
  .h2 {
    font-size: 32px;
  }
}
