.about {
  position: relative;
  height: 100vh;
  background-color: var(--onyx);
}
.imageContainer {
  float: right;
  margin-top: -10vh;
  margin-right: 5vw;
  margin-left: 1px;
  width: 15vw;
  height: 15vw;
  border-radius: 50%;
  overflow: hidden;
}

.h1 {
  color: var(--yellow);
  margin-left: 5vw;
  font-size: 5vh;
  padding-top: 10vh;
}

.text {
  color: var(--white);
  margin-left: 5vw;
}

#downArrow {
  position: absolute;
  left: 50vw;
  text-align: center;
  bottom: 2vh;
  color: var(--white);
  font-size: 4vh;
  animation: bounce 2s infinite;
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0) rotate(90deg);
  }
  40% {
    transform: translateY(-30px) rotate(90deg);
  }
  60% {
    transform: translateY(-15px) rotate(90deg);
  }
}
