.contact {
  height: 100vh;
  width: auto;
}
.socialsContainer {
  display: flex;
  justify-content: center;
  height: 10rem;
}
.socialsContainer a {
  align-self: center;
  padding: 4vw;
  margin-left: 0.8rem;
  margin-right: 0.8rem;
  transition: all 0.2s ease-in-out;
}

.socialsContainer svg {
  transition: all 0.2s ease-in-out;
}

.socialsContainer a:hover {
  transform: scale(1.1);
}

.flickr {
  align-self: center;
  padding: 4vw;
  margin-left: 0.8rem;
  margin-right: 0.8rem;
  transition: all 0.2s ease-in-out;
}

.flickr:hover {
  transform: scale(1.1);
}

.h1 {
  color: var(--yellow);
  margin-left: 5vw;
  font-size: 5vw;
  padding-top: 5vh;
}

.h2 {
  color: var(--yellow);
  margin-left: 5vw;
  font-size: 5vw;
}

@media (max-width: 912px) {
  .h1 {
    font-size: 32px;
  }
  .h2 {
    font-size: 32px;
  }
  .socialsContainer {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
  }
  .socialsContainer a {
    padding: 5vh;
    margin: auto;
    margin-top: 10vh;
  }
}

.flickr {
  height: 50px;
  width: 50px;
}
